@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-font/GothamMedium.ttf");
}

body {
    padding: 0;
    margin: 0;
}

.displayNone {
    display: none !important;
}


/* loader */
#loader {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/tron.gif");
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(252, 181, 51);
    background-color: rgb(248, 243, 157);
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(252, 181, 51);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span {
    position: absolute;
    top: 75px;
    font-size: 20px;
    letter-spacing: 12px;
    color: rgb(209, 91, 178);
    left: 15%;
}

.neon {
    text-align: center;
    margin: 30px;
    padding: 30px;
    width: 40%;
    height: 50px;
    font-size: 60px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(176, 87, 162);
    /* span ? */
    font-family: 'poppins', sans-serif;
    color: rgb(214, 164, 203);
    padding: 30px;
    line-height: 1;
    border: 8px solid rgb(87, 199, 216);

    border-radius: 40px;
    text-transform: uppercase;
    animation: flashing 2s infinite alternate;
}

@keyframes flashing {

    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
        text-shadow:
            0 0 16px #ffd6d6,
            0 0 16px #ffd6d6,
            0 0 32px rgb(150, 60, 130),
            0 0 64px rgb(150, 60, 130),
            0 0 90px rgb(150, 60, 130),
            0 0 124px rgb(150, 60, 130);
        box-shadow:
            0 0 8px #fff,
            inset 0 0 8px #fff,
            0 0 32px blue,
            inset 0 0 32px blue,
            0 0 64px blue,
            inset 0 0 64px blue;
    }

    20%,
    34%,
    41% {
        text-shadow: none;
        box-shadow: none;
    }
}


#accueil {

    width: 100%;
    height: 100vh;
    background-image: url("../img/Wall-Popcorn.png");
    background-size: cover;
    font-family: "Gotham";

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: white;

}

.logo {
    width: 400px;
    height: 300px;
    background-image: url("../img/logo-sans-fond.png");
    background-size: cover;
}

.nombre {
    color: #0AEFF7;
    font-size: 80px;
}

p {
    padding: 5px;
    margin: 0;
}

.commencer {
    padding: 20px;
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: none;
    color: #FFAAFF;
}

.commencer:hover {
    color: #0AEFF7;
}

a {
    color: white;
    padding: 20px;
}

a:hover {
    color: #0AEFF7;
}

.basdepage {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#jeu {
    width: 100%;
    height: 100vh;
    /* background-image: url("../img/chambre.jpg"); */
    /* background-size: cover; */
    font-family: "Gotham";
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;

}

.titrescore {
    text-decoration: underline;
    color: #0AEFF7;
    transform: rotate(-90deg);
    position: fixed;
    top: 20px;
    left: 0;
}

.pts {
    color: white;
    position: fixed;
    top: 10px;
    left: 40px;
}

.croix {
    color: #6D686D;
    position: fixed;
    top: 45px;
}

.x1 {
    left: 40px;
    color: aqua;
}

.x2 {
    left: 58px;
}

.x3 {
    left: 76px;
}

.logo-jeu {
    width: 150px;
    height: 150px;
    background-image: url("../img/logo-sans-fond2.png");
    background-size: cover;
    position: fixed;
    top: 15px;
    right: 15px;
}
.titre-zoom {
    color: #0AEFF7;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 200px;
    left: 15px;
}


.barre-zoom {   
    position: fixed;
    left: 30px;
    bottom: 37px;
    width: 0px;
    height: 124px;
    border: 1px solid #d9d9d9;
    
}

.plus{
    position: fixed;
    left: 8px;
    bottom: 150px;
    text-decoration: none;
}

.moins{
    position: fixed;
    left: 9px;
    bottom: 0px;
    text-decoration: none;
}

.trouve {

    display: flex;
    position: fixed;
    left: 70px;
    bottom: 20px;
    width: 145px;
    height: 24px;
    text-align: right;
    align-items: center;
    justify-content: end;
    border: 1px solid white;
    padding: 5px;
}

.loupe{
    width: 14px;
    height: 14px;
    background-image: url("../img/search.png");
    background-size: cover;
    position: fixed;
    bottom: 30px;
    left: 80px;
}

/* @media screen and (max-width:1000px) {
    #jeu{

        background-image: url("../img/Wall-Popcorn.png");
    }   
} */